
<div class="gmLogo">
  <h1> Gerardo Mestanza </h1>
</div>

<div class="container">
		<ul class="social">
			<li class="facebook"><a href="#" class="fa fa-facebook"></a></li>
			<li class="twitter"><a href="#" class="fa fa-twitter"></a></li>
			<li class="dribbble"><a href="#" class="fa fa-google-plus"></a></li>
			<li class="behance"><a href="#" class="fa fa-linkedin"></a></li>
			<li class="linked-in"><a href="#" class="fa fa-github" aria-hidden="true"></a></li>
		</ul>
</div>
